@import "./style.css";

.header-menu-logo-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-menu-btn-item {
  cursor: default;
}

.header-menu-btn-item-text {
  cursor: default;
}

.header-menu-btn-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: #403f3d;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
  cursor: default;
}

.main-menu {
  margin-top: 16px;
}

.main-menu-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.main-menu-btn-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  border: 1px solid #c1b6ad;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition-duration: 1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-menu-btn-item > rect {
  transition-duration: 1s;
  fill: #c1b6ad;
}

.main-menu-btn-item-text {
  color: #403f3d;
  transition-duration: 1s;
}

.main-menu-btn:hover {
  background-color: #665f55;
}

.main-menu-btn:hover .main-menu-btn-item-text {
  color: #e1d4c9;
}

.main-menu-btn:hover rect {
  fill: #e1d4c9;
}

.main-menu-btn.active {
  background-color: #665f55;
  transition-duration: 1s;
  cursor: default;
}

.main-menu-btn-item.active rect {
  fill: #e1d4c9;
  transition-duration: 1s;
}

.main-menu-btn-item-text.active {
  color: #e1d4c9;
  transition-duration: 1s;
}

.main-offer {
  display: flex;
  width: 1370px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 37px;
  box-sizing: border-box;
  position: relative;
}

.main-offer-wrapper {
  border: 1px solid #c1b6ad;
  border-radius: 40px;
  height: 506px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-offer-content {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.main-offer-content-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition-duration: 1s;
}

.main-offer-wrapper:hover .main-offer-content-item {
  transform: scale(1);
}

.main-offer-description {
  padding: 20px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  align-self: stretch;
}

.main-offer-description-wrapper > h2 {
  margin-bottom: 12px;
}

.main-offer-description-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  color: #403f3d;
}

.main-offer-description-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #403f3d;
}

.main-offer-description-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  color: #403f3d;
  margin-top: 12px;
}

.main-offer-refresh__btn {
  width: 60px;
  height: 60px;
  border: 1px solid #665f55;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  display: none;
}

/* ************************* Адаптив пк/планшет **************************************************** */

@media (max-width: 1439px) {
  .main-offer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-menu-btn:hover {
    background-color: transparent;
  }

  .main-menu-btn:hover .main-menu-btn-item-text {
    color: #403f3d;
  }

  .main-menu-btn:hover rect {
    fill: #c1b6ad;
  }

  .main-menu-btn.active {
    background-color: #665f55;
    transition-duration: 1s;
    cursor: default;
  }

  .main-menu-btn-item.active rect {
    fill: #e1d4c9;
    transition-duration: 1s;
  }

  .main-menu-btn.active:hover .main-menu-btn-item-text.active {
    color: #e1d4c9;
  }

  .main-offer-wrapper._5 {
    display: none;
  }

  .main-offer-wrapper._6 {
    display: none;
  }

  .main-offer-wrapper._7 {
    display: none;
  }

  .main-offer-wrapper._8 {
    display: none;
  }

  .main-offer-content-item {
    transform: scale(1);
  }

  .main-offer-refresh__btn {
    display: block;
    margin: 40px auto 0;
  }

  .main-offer-refresh__btn {
    margin: 37px auto 0;
  }
}

/* ************************* Адаптив телефон **************************************************** */
@media (max-width: 715px) {
  .main-menu-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
}

@media (max-width: 380px) {
  .main-menu-btn-wrapper {
    gap: 5px;
  }

  .main-offer-refresh__btn {
    margin: 34px auto 0;
  }
}
