@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,600;1,400&family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: #403f3d;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #e1d4c9;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.header-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-nav {
  display: flex;
}

.header-menu-nav-list {
  display: flex;
  gap: 40px;
}

.header-menu-nav-list-item {
  list-style: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding-bottom: 2px;
  position: relative;
  cursor: pointer;
}

.header-menu-nav-list-item > a {
  text-decoration: none;
}

.header-menu-nav-list-item::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  background-color: #403f3d;
  height: 2px;
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.header-menu-nav-list-item:hover::before {
  width: 100%;
  opacity: 1;
}

.header-menu-btn-item {
  width: 72px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding-bottom: 2px;
}

.header-menu-btn-item-text {
  position: relative;
  text-decoration: none;
}

.header-menu-btn-item::after {
  content: "";
  display: inline-block;
  background-image: url("../icon/coffee-cup.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 20px;
  height: 20px;
}

.header-menu-btn-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background-color: #403f3d;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

.header-menu-btn-item:hover::before {
  content: "";
  width: 100%;
  opacity: 1;
}

.header-content {
  position: relative;
  max-width: 1380px;
  height: 644px;
  margin: 16px auto 0;
}

.header-content-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  background: url("../image/header_img.jpg"), lightgray 50% / cover no-repeat;
}

.header-content-title-wrapper {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 530px;
  color: #e1d4c9;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-content-title {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
}

.accent__text {
  color: #b0907a;
  font-style: italic;
}

.header-content-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #e1d4c9;
}

.header-content-btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background-color: #e1d4c9;
  cursor: pointer;
  transition-duration: 500ms;
  position: relative;
}

.header-content-btn-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition-duration: 500ms;
  position: absolute;
  left: 78px;
  top: 20px;
}

.header-content-btn-icon {
  transition-duration: 500ms;
  position: absolute;
  right: 64px;
  top: 22px;
  opacity: 0;
}

.header-content-btn:hover .header-content-btn-icon {
  opacity: 1;
}

.header-content-btn:hover .header-content-btn-text {
  position: absolute;
  transform: translateX(-8px);
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.main-favorite__coffee {
  margin-top: 100px;
}

.main-favorite__coffee-title {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.main-favorite__coffee-carousel-wrapper {
  margin-top: 40px;
}

.main-favorite__coffee-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-favorite__coffee-carousel-btn {
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #665f55;
  transition-duration: 500ms;
}

.carousel-btn__left {
  position: absolute;
  left: 0;
}

.carousel-btn__right {
  position: absolute;
  right: 0;
}

.main-favorite__coffee-carousel-btn-item {
  transition-duration: 500ms;
}

.main-favorite__coffee-carousel-btn:hover {
  background-color: #665f55;
}

.main-favorite__coffee-carousel-btn:hover
  .main-favorite__coffee-carousel-btn-item {
  filter: brightness(0) invert(1);
}

.main-favorite__coffee-carousel.slide_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-favorite__coffee-carousel-item {
  width: 480px;
  height: 480px;
}

.main-favorite__coffee-carousel-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-top: 20px;
}

.main-favorite__coffee-carousel-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 16px;
  max-width: 480px;
  text-align: center;
}

.main-favorite__coffee-carousel-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-top: 16px;
}

.main-favorite__coffee-carousel-controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.control {
  width: 40px;
  height: 4px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.main-favorite__coffee-carousel-controls_1 {
  background-color: #665f55;
}

.main-about-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-top: 100px;
}

.main-about-item-box-wrapper {
  margin-top: 40px;
  max-width: 1360px;
  max-height: 1060px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.main-about-item-box {
  border-radius: 20px;
  overflow: hidden;
}

.about-item-box_1 {
  order: 1;
  width: 660px;
  height: 590px;
}

.about-item-box_2 {
  order: 3;
  width: 660px;
  height: 430px;
}

.about-item-box_3 {
  order: 2;
  width: 660px;
  height: 430px;
}

.about-item-box_4 {
  order: 4;
  width: 660px;
  height: 590px;
  position: relative;
  top: -160px;
}

.main-about-item {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition-duration: 1s;
}

.main-about-item:hover {
  transform: scale(1);
}

.main-mobile__app {
  display: flex;
  margin-top: 100px;
  gap: 100px;
}

.main-mobile__app-offer {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-mobile__app-offer-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.main-mobile__app-offer-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.main-mobile__app-offer-btn-wrapper {
  display: flex;
  gap: 20px;
}

.main-mobile__app-offer-btn-app__store {
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: transparent;
  padding: 12px 20px;
  width: 200px;
  cursor: pointer;
  transition-duration: 1s;
}

.btn-app__store-text-wrapper {
  position: relative;
  text-align: start;
  padding-left: 43px;
}

.btn-app__store-text-wrapper::before {
  content: "";
  display: inline-block;
  background: url("../icon/apple-icon.svg");
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  transition-duration: 1s;
}

.btn-app__store-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
  transition-duration: 1s;
}

.btn-app__store-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition-duration: 1s;
}

.main-mobile__app-offer-btn-google__play {
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: transparent;
  padding: 12px 20px;
  width: 200px;
  cursor: pointer;
  transition-duration: 1s;
}

.btn-google__play-text-wrapper {
  position: relative;
  text-align: start;
  padding-left: 43px;
}

.btn-google__play-text-wrapper::before {
  content: "";
  display: inline-block;
  background: url("../icon/android-icon.svg");
  /* filter: brightness(0) invert(1); */
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  transition-duration: 1s;
}

.btn-google__play-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
  transition-duration: 1s;
}

.btn-google__play-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition-duration: 1s;
}

.main-mobile__app-offer-btn-app__store:hover {
  background-color: #665f55;
}

.main-mobile__app-offer-btn-app__store:hover
  .btn-app__store-text-wrapper::before {
  filter: brightness(0) invert(1);
}

.main-mobile__app-offer-btn-app__store:hover .btn-app__store-text,
.main-mobile__app-offer-btn-app__store:hover .btn-app__store-name {
  color: #e1d4c9;
}

.main-mobile__app-offer-btn-google__play:hover {
  background-color: #665f55;
}

.main-mobile__app-offer-btn-google__play:hover
  .btn-google__play-text-wrapper::before {
  filter: brightness(0) invert(1);
}

.main-mobile__app-offer-btn-google__play:hover .btn-google__play-text,
.main-mobile__app-offer-btn-google__play:hover .btn-google__play-name {
  color: #e1d4c9;
}

.footer {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background-color: #665f55;
  margin-top: 100px;
}

.footer-slogan__link {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}

.footer-slogan {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  color: #e1d4c9;
}

.footer-link-container {
  display: flex;
  gap: 12px;
}

.footer-link-wrapper {
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}

.footer-link-wrapper:hover {
  background-color: #e1d4c9;
}

.footer-link-item,
path {
  transition-duration: 1s;
}

.footer-link-wrapper:hover .footer-link-item {
  transform: scale(1.3) rotate(360deg);
}

.footer-link-wrapper:hover .footer-link-item path {
  stroke: #403f3d;
}

.footer-contact {
  width: 530px;
  padding-bottom: 13px;
}

.footer-contact-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  color: #e1d4c9;
  margin-bottom: 40px;
}

.footer-contact-link-wrapper {
  margin-bottom: 16px;
}

.footer-contact-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: #e1d4c9;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.footer-contact-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #e1d4c9;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.footer-contact-link:hover::after {
  width: 100%;
  opacity: 1;
}

.footer-contact-link.place::before {
  content: "";
  background-image: url("../icon/pin-alt.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-contact-link.phone::before {
  content: "";
  background-image: url("../icon/phone.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-contact-schedule.schedule::before {
  content: "";
  background-image: url("../icon/clock.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-contact-schedule {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: #e1d4c9;
}
